@font-face {
    font-family: "Confortaa";
    src: url(../assets/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: "cube";
    src: url(../assets/fonts/Cubes.TTF);
}

html {
    font-size: 12px;
    font-family: "Confortaa";
    font-weight: 300;
    color: #222;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    background-image: url(../assets/backgrounds/topography.svg);
    background-repeat: repeat;
    background-position-x: 0%;
    animation: movebg 25s infinite ease;
    font-family: 1em;
}

@keyframes movebg {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
    20% {
        background-position-x: 25%;
        background-position-y: 50%;
    }
    40% {
        background-position-x: 50%;
        background-position-y: -50%;
    }
    60% {
        background-position-x: -25%;
        background-position-y: 25%;
    }
    80% {
        background-position-x: -25%;
        background-position-y: -150%;
    }
    100% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
}

.fundo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
}

.lados {
    width: 60%;
    height: 100%;
    background-color: transparent;
    transform: rotate(0deg);
    transition: all 1s;
    overflow: hidden;
}

.ladoEsquerdo {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.ladoDireito {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.imgFundo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(0deg);
}

.ladoEsquerdo .imgFundo {
    background-image: url(../assets/backgrounds/mountain_real.jpg);
}

.ladoDireito .imgFundo {
    background-image: url(../assets/backgrounds/mountain_art.png);
}

.row {
    margin-bottom: 0;
}

.row:after {
    content: "";
    display: unset;
    clear: both;
}

.cards {
    width: 600px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 9;
}

.cardLogin {
    width: 300px;
    height: 100%;
    background-color: aliceblue;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -1px 1px 5px #3338;
    border-radius: 10px 0px 0px 10px;
    transition: all 1s;
}

.cardRegister {
    width: 300px;
    height: 100%;
    background-color: aliceblue;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 5px #3338;
    border-radius: 0px 10px 10px 0px;
    transition: all 1s;
}

.nameApp {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-family: "cube";
    font-size: 2em;
    color: #333;
    margin-bottom: 5px;
    border-radius: 10px;
}

form {
    height: calc(100% - 32px - 75px);
    position: absolute;
    left: 0;
    top: 75px;
}

.btnsRight {
    position: absolute;
    bottom: 0;
    right: 16px;
}

.btnsLeft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.btnChange {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    overflow: hidden;
    text-align: center;
    padding: 4px 8px;
}