.ads {
    width: 100vw;
    height: calc(100vh - 42px);
    position: fixed;
    top: 42px;
    background-color: gray;
    z-index: 0;
}

.adsLeft {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: calc((100vw - 1024px - 30px) / 2);
    height: calc(100% - 15px);
    background-color: whitesmoke;
    border: violet solid 1px;
    text-align: center;
}

.adsRight {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    width: calc((100vw - 1024px - 30px) / 2);
    height: calc(100% - 15px);
    background-color: whitesmoke;
    border: violet solid 1px;
    text-align: center;
}