
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "cube";
    src: url(../../assets/fonts/Cubes.TTF);
}


main{
    overflow-y: auto;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #333;
    color: white;
    height: auto;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Nunito";
}


/*

  _   _             ____             
 | \ | |           |  _ \            
 |  \| | __ ___   _| |_) | __ _ _ __ 
 | . ` |/ _` \ \ / /  _ < / _` | '__|
 | |\  | (_| |\ V /| |_) | (_| | |   
 |_| \_|\__,_| \_/ |____/ \__,_|_|   
                                     
                                     

*/

.navbar-fixed {
    position: absolute;
    z-index: 99;
}

.brand-logo {
    font-family: "cube";
}


/* 

   _____ _     _      _   _             
  / ____(_)   | |    | \ | |            
 | (___  _  __| | ___|  \| | __ ___   __
  \___ \| |/ _` |/ _ \ . ` |/ _` \ \ / /
  ____) | | (_| |  __/ |\  | (_| |\ V / 
 |_____/|_|\__,_|\___|_| \_|\__,_| \_/  
                                        
                                        

*/

.titleSideNav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 2em;
    text-align: center;
    font-family: "cube";
    background-image: url(../../assets/images/geometrica.png);
    background-position: 0% 120%;
    background-position: bottom;
    background-repeat: repeat;
    background-size: 20%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveLine 5s infinite linear;
}

.material-icons.bgAnimate {
    background-image: url(../../assets/images/quake.png);
    background-repeat: repeat;
    background-position: 0% 120%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100%;
}

li a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

li a:before {
    display: block;
    position: absolute;
    left: 0;
    content: '';
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #80808088;
    transition: all .5s;
}

li a:hover:before {
    width: 50%;
}

li a::after {
    display: block;
    position: absolute;
    right: 0;
    content: '';
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #80808088;
    transition: all .5s;
}

li a:hover::after {
    width: 50%;
}

li a:hover .bgAnimate {
    animation: moveLine 2s infinite linear;
}

.divider {
    background-color: #80808080;
}

.sidenav li a:hover {
    background-color: #b1b1b180;
}

@keyframes moveLine {
    0% {
        background-position: 0% 120%;
    }
    100% {
        background-position: 100% 120%;
    }
}


/*

   _____ _ _     _         _____            _        _                 
  / ____| (_)   | |       / ____|          | |      (_)                
 | (___ | |_  __| | ___  | |     ___  _ __ | |_ __ _ _ _ __   ___ _ __ 
  \___ \| | |/ _` |/ _ \ | |    / _ \| '_ \| __/ _` | | '_ \ / _ \ '__|
  ____) | | | (_| |  __/ | |___| (_) | | | | || (_| | | | | |  __/ |   
 |_____/|_|_|\__,_|\___|  \_____\___/|_| |_|\__\__,_|_|_| |_|\___|_|   
                                                                       
                                                                       

*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0D0D0D;
}

section {
    height: 100%;
    width: 100%;
}

.navbarSpacing {
    width: 100%;
    height: 56px;
}


/*

   _____ _ _     _         ___  __ 
  / ____| (_)   | |       / _ \/_ |
 | (___ | |_  __| | ___  | | | || |
  \___ \| | |/ _` |/ _ \ | | | || |
  ____) | | | (_| |  __/ | |_| || |
 |_____/|_|_|\__,_|\___|  \___/ |_|
                                   
                                   

*/

.video-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-bottom: inherit;
}

video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, .2);
    z-index: 1;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-size: 5vw;
}

.callout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 9;
    font-size: 0.9em;
    background-color: #3335;
}

.support {
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    text-align: right;
    z-index: 9;
}

.support a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.support a:before {
    display: block;
    position: absolute;
    content: '';
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #fff8;
    transition: all .5s;
}

.support a:hover:before {
    width: 100%;
}


/*

   _____ _ _     _         ___ ___  
  / ____| (_)   | |       / _ \__ \ 
 | (___ | |_  __| | ___  | | | | ) |
  \___ \| | |/ _` |/ _ \ | | | |/ / 
  ____) | | | (_| |  __/ | |_| / /_ 
 |_____/|_|_|\__,_|\___|  \___/____|
                                    
                                    

*/

.info-container {
    background-color: #849FE8;
}


/*

   _____ _ _     _         ___ ____  
  / ____| (_)   | |       / _ \___ \ 
 | (___ | |_  __| | ___  | | | |__) |
  \___ \| | |/ _` |/ _ \ | | | |__ < 
  ____) | | | (_| |  __/ | |_| |__) |
 |_____/|_|_|\__,_|\___|  \___/____/ 
                                     
                                     

*/

.contact-container {
    background-color: #84E8CD;
}


/*

   _____ _ _     _         ___  _  _   
  / ____| (_)   | |       / _ \| || |  
 | (___ | |_  __| | ___  | | | | || |_ 
  \___ \| | |/ _` |/ _ \ | | | |__   _|
  ____) | | | (_| |  __/ | |_| |  | |  
 |_____/|_|_|\__,_|\___|  \___/   |_|  
                                       
                                       

*/

footer {
    height: 100%;
}

.footer-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*

  ____        _   _                _____  _           
 |  _ \      | | | |              |  __ \| |          
 | |_) |_   _| |_| |_ ___  _ __   | |__) | |_   _ ___ 
 |  _ <| | | | __| __/ _ \| '_ \  |  ___/| | | | / __|
 | |_) | |_| | |_| || (_) | | | | | |    | | |_| \__ \
 |____/ \__,_|\__|\__\___/|_| |_| |_|    |_|\__,_|___/
                                                      
                                                      

*/

.btnNewPage {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 2px #fafaff;
    border-style: none solid solid none;
    animation: btnPulse 2s infinite ease;
}

.btnNewPage::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    border: 2px #fafaff;
    border-style: none solid solid none;
}

.btnNewPage::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: transparent;
    border: 2px #fafaff;
    border-style: none solid solid none;
}

.btnNewPage:hover {
    background-color: red;
}

@keyframes btnPulse {
    0% {
        bottom: 10vh;
    }
    10% {
        bottom: 10vh;
    }
    20% {
        bottom: 10vh;
    }
    30% {
        bottom: 10vh;
    }
    40% {
        bottom: 9vh;
    }
    50% {
        bottom: 8vh;
    }
    60% {
        bottom: 9vh;
    }
    70% {
        bottom: 10vh;
    }
    80% {
        bottom: 10vh;
    }
    90% {
        bottom: 10vh;
    }
    100% {
        bottom: 10vh;
    }
}